.header {
	background-color: #282c34;
	min-height: 10vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	position: sticky;
	top: 0;
	z-index: 100;
	nav {
		display: flex;
		gap: 20px;
		li {
			list-style-type: none;
			a {
				color: white;
				font-size: 2rem;
				text-decoration: none;
				transition: all 0.3s ease-in-out;
			}
			a:hover {
				color: #61dafb;
				transform: scale(2);
			}
		}
	}
}

.main {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.randomDog {
	width: 70%;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	margin-top: 20px;
	border-radius: 15px;
	box-shadow:
		0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.randomDog:hover {
	transform: scale(1.01);
}
.randomDog:active {
	transform: scale(0.99);
}

.store {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	margin-top: 20px;
}

.product {
	list-style-type: none;
	height: 400px;
	width: 400px;
	border: 1px solid #858383;
	border-radius: 10px;
	padding: 15px;
	position: relative;
	overflow-y: auto;
	p:nth-of-type(1) {
		text-align: justify;
		text-indent: 20px;
		font-size: 1.2em;
	}
	button {
		padding: 10px 20px;
		font-size: 1rem;
		background-color: #4aa3bc;
		border: none;
		border-radius: 5px;
		transition: all 0.1s ease-in-out;
		position: absolute;
		width: calc(100% - 40px);
		bottom: 20px;
		left: 20px;
	}
	button:hover {
		transform: scale(1.05);
	}
	button:active {
		transform: scale(0.99);
	}
}

.cartDiv {
	box-sizing: border-box;
	padding: 10px;
	width: auto;
	border: none;
	border-radius: 10px 10px 0 0;
	overflow-y: auto;
}

.cartItem {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	list-style-type: none;
	background-color: rgb(47, 60, 79);
	border-radius: 10px;
	color: white;
	font-size: 1.2rem;
	padding: 10px;
	margin-bottom: 10px;
	span {
		font-weight: bold;
	}
	p:first-of-type {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 1.3rem;
	}
	p:last-of-type {
		grid-row: 1 / span 2;
		grid-column: 3 / 4;
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		font-size: 1.5rem;
	}
}
.cartItem:nth-child(even) {
	background-color: rgb(45, 88, 131);
}

.checkout {
	width: 300px;
	padding: 10px 20px;
	background-color: #4aa3bc;
	color: #282c34;
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 1.3rem;
	border: none;
	border-radius: 10px;
	transition: all 0.1s ease-in-out;
}

.checkout:hover {
	transform: scale(1.03);
}

.checkout:active {
	transform: scale(0.99);
}

.itemCount {
	font-size: 1.5rem;
	font-weight: bold;
	width: 1.5em;
	display: inline;
	margin-left:10px;
	background:transparent;
	border: none;
	cursor: pointer;
}

.itemCount:focus-visible {
	outline: none;
}