.header{
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  nav{
    display: flex;
    gap: 20px;
    li{
      list-style-type: none;
      a{
        color: white;
        font-size: 2rem;
        text-decoration: none;
        transition:all 0.3s ease-in-out;
      }
      a:hover{
        color: #61dafb;
        transform: scale(2);
      }
    }
  }
}

.randomDog{
  width:70%;
  cursor: pointer;
  transition:all 0.3s ease-in-out;
  margin-top:20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.randomDog:hover{
  transform: scale(1.01);
}
.randomDog:active{
  transform: scale(0.99);
}